<h1>Edit Picture</h1>

<p>
  <%= link_to("Back", "/pictures/#{@picture.id}") %>
</p>

<% if @picture.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this article from being updated:</h2>
    <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@picture, url: "/pictures/#{@picture.id}") do |f| %>
  <p>
    <%= f.label :artist %><br>
    <%= f.text_field :artist %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
