<h1>Pictures</h1>
<%= link_to("Submit Pictures", "/pictures/new") %>
<!-- <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> -->



<% @pictures.each do |picture| %>
  <p><%= picture.title %>, <%= picture.artist %></p>
  <img src="<%= picture.url %>" alt="<%= picture.title %>">
<% end %>

<br>

<h3>Ariana says</h3>
<p>So baby, come light me up</p>
<p>and baby I'll let you on it</p>
